.banner	{
	background-image: linear-gradient(-220deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 50%),url("../../images/bannierekech.jpg");
	color: white;
	padding: 140px;
	background-size: cover;
	background-position: center;
}